 <!DOCTYPE html>
 <html>
 <head>
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<title>Vigo bermian gim</title>
 </head>
 <body>
  	<table border="1px" width="600px" cellspacing="0">
  		<tr>
  			<th>Nama</th> 
  			<th>Deskripsi</th>
  		</tr>
  		<tr>
            <!-- td table data -->
  			<td>Nama</td>
  			<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat nemo nulla, amet culpa. Amet nulla possimus consequatur sapiente minima quis beatae suscipit eum fugit aut ratione reprehenderit, maxime esse ullam cum quaerat provident molestias pariatur labore rerum repellat, ab rem itaque! Reprehenderit molestias, quisquam sed magnam unde quo natus beatae!	</td>
  		</tr>
  	</table>
    </font>

 </body>
 </html>